* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(244,213,23);
background: linear-gradient(90deg, rgba(244,213,23,1) 0%, rgba(210,105,15,1) 100%);
  /* background-color: antiquewhite; */
  /* background-color: #FBDA61;
    background-image: linear-gradient(135deg, #FBDA61 0%, #FF5ACD 100%); */
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.header .container {
  width: 50%;
}

.section {
  height: 100vh;
  
}


.game-page .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  height:100vh;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh;

}

.game-over .container div:nth-child(1){
height: 75%;
font-size: 100px;

}

.game-over .container div:nth-child(2){
  height: 75%;
  font-size: 75px;
  
  }



.forest-floor {
  width: 80%;
  position: relative;
  z-index: 1;
  padding: 20px;
}

.mushroom {

  position: absolute;
  z-index: 5;
  opacity: 0.9;
 
}

.highlight {
  filter: drop-shadow(1px 1px 0 yellow) drop-shadow(-1px -1px 0 white);
}

.timer {
  font-size: large;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  /* align-self: flex-start; */
}
.scoreboard {
  font-size: large;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;  /* align-self: flex-start; */
}
.scoreboard div {
  padding: 30px;
}

.timer div {
  padding: 30px;
}

.clock, .points {
  font-size: 40px;
  line-height: 10px;
}
/* 
.game-page .container {
  background-color:blanchedalmond;
  width: 100%;
  height: 100%;
  position: relative;

}
.game-page .morel {
  background-color: blue;
  width: 7%;
  height: 10%;
  position: absolute;

  
}

.forest-floor {
  width: 100%;
  height: 100%;
}
.mushroom {
  width: 75%;
} */

.header h1,
p,
button {
  margin: 10px 20px;
}

.viewport {
  display: none;
}

.custom-shape-divider-bottom-1652847145 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652847145 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 279px;
}

.custom-shape-divider-bottom-1652847145 .shape-fill {
  fill: #794b20;
}